

.icon{
    height: 50px;
    width: 150px;
    border-right: 2px solid rgb(253, 252, 252);
    display: flex;
    
}
 .dropdown{
    margin-left: 50px;
}
/*
.container-fluid{
    display: flex;
   justify-content:space-between;
} */
.self-end{
    margin-left: 20px;
}
.nav{
    align-items: center;
    display: flex;
}
.self-end2{
    margin-left: 800px; 
}
.input1 {
    width: 660px;
    height: 60px;
    margin-top: 40px;
    border: 2px solid #c8c9cb;
    border-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    
}

.input-group input::placeholder {
    color: #c8c9cb;
}

.input-group input.form-control {
    border: none;
    box-shadow: none;
}

.input-group input.form-control:hover{
    border-color: blue;
}
.input1:hover{
    border-color:blue;
}

.input2{
   margin-top: 30px;
}

.styles{
    background-color: #e4e4e7;
    border: none;
    width: 640px;
    height: 48px;
    border-radius: 0.325rem;display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}
.styles:hover{
    background-color:  #c8c9cb;
    box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow); 
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s 

}
.input3{
   width: 50%;
   height: 55%;
   border-radius: 8px;
   border: solid rgb(155, 153, 153) 2px;
   margin-top: 30px;
}

.content{
    margin: 30px;
    
}
.btn:hover {
    border-color: rgb(85, 85, 250) !important;
}